In [1]:
#install packages

import os
from google.cloud import bigquery

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'C:\Users\EMJES1\AppData\Roaming\gcloud\application_default_credentials.json'

In [3]:
bigquery_client = bigquery.Client(project='ingka-ce-logica-dev')

In [4]:
query = """SELECT retailUnitCode FROM `ingka-ce-logica-prod.logica_rewards.aggregated_key_balance_daily`"""

In [5]:
#run query
query_job = bigquery_client.query(query)
#data into dataframe
test= query_job.to_dataframe()

In [6]:
test

      retailUnitCode
0                 IT
1                 PT
2                 IT
3                 IT
4                 IT
...              ...
14118             IT
14119             IT
14120             IT
14121             AU
14122             AU

[14123 rows x 1 columns]